h1 {
    text-align: center;
}

.form {
    width: 50%;
    margin: 0 auto;
    border: 3px solid #c2185b;
    padding: 10px;
    background: #a28892;
    border-radius: 25px;
    /* box-shadow: 1px 1px #ffff; */
}